@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700"); /* import Montserrat font  */

* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
}

body {
    background: #f4f4f4 url("../assets/sunset-3159756_1920.jpg");
    background-size: cover;
}
